name: build

on: [ push, pull_request ]

env:
  CARGO_TERM_COLOR: always
  RUST_BACKTRACE: 1
  THREE_D_EXIT: 300

jobs:

  examples:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/cargo@v1
      - run: sudo apt-get update && sudo apt-get install -y xorg-dev mesa-utils xvfb
      - run: xvfb-run glxinfo

      - name: Install Rust Toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true

      - run: DISPLAY=:0 xvfb-run -s '-screen 0 1024x768x24' cargo run --example triangle --no-default-features --features "glutin-window"
      - run: DISPLAY=:0 xvfb-run -s '-screen 0 1024x768x24' cargo run --example headless --no-default-features --features "glutin-window image-io"

